<div class="mt-5">
<h5 class="mt-5">Youre logged in! Welcome to the Admin Dashboard!</h5>

<form action="/upload_question" method="post" >
  <div class="flex justify-center">
  <div class="mb-3 w-96">
    <label for="formFile" class="form-label inline-block mb-2 text-gray-700">Default file input example</label>
    <input name="image" class="form-control
    block
    w-full
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile">
  </div>
</div>
<button type="submit" id="submit-answer-button" class="float-right rounded-lg py-3 px-5 bg-cyan-700 hover:bg-green-600 text-white block font-medium">Uploads</button>

</form>
</div>